@font-face {
  font-family: gothamMid;
  src: url("../fonts/GothamMedium.ttf");
}

@font-face {
  font-family: gothamLite;
  src: url("../fonts/GothamLight.ttf");
}

@font-face {
  font-family: gothamBook;
  src: url("../fonts/GothamBook.ttf");
}

@font-face {
  font-family: gothamBookItalic;
  src: url("../fonts/GothamBookItalic.ttf");
}

@font-face {
  font-family: gothamThin;
  src: url("../fonts/Gotham-Thin.otf");
}

@font-face {
  font-family: futuraPTLite;
  src: url("../fonts/futura-pt-light.ttf");
}

body {
  font-family: "gothamLite";
}

.break {
  display: block;
}

.preloader {
  position: absolute;
  width: 100%;
  z-index: 10;
}

.preloader {
  height: 100vh;
  width: 100%;
  position: relative;
}

.preloader__bg {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0E1F3C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
}

.preloader__bg--logo img {
  width: 100%;
  max-width: 250px;
}

.hero {
  background-size: cover;
  height: 100vh;
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__mobile {
  color: #fff;
  display: none;
}

@media screen and (max-width: 900px) {
  .hero__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 0;
    right: -60px;
    text-align: center;
    color: #fff;
    background-color: #0E1F3C;
    width: 60px;
    height: 60px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 900px) {
  .hero__mobile svg.close-icon {
    display: none;
  }
}

.hero__sidebar {
  height: 100%;
  width: 20%;
  background-color: #0E1F3C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-transition: 0.5s left ease-in-out;
  transition: 0.5s left ease-in-out;
}

@media screen and (max-width: 900px) {
  .hero__sidebar {
    width: 60%;
    z-index: 9;
    left: -60%;
  }
}

.hero__sidebar--nav {
  width: 100%;
  padding-left: 0;
  margin-left: 0;
  margin-bottom: 0;
  text-align: center;
  padding: 30px 30px 50px 30px;
}

.hero__sidebar--nav li a {
  display: block;
  padding: 3px;
  text-transform: uppercase;
  color: #8CACAE;
  text-decoration: none;
}

.hero__sidebar--nav li a:hover {
  text-decoration: underline;
}

.hero__sidebar--nav li.cta {
  background-color: #8CACAE;
  padding: 7px 14px;
}

.hero__sidebar--nav li.cta a {
  color: #0E1F3C;
}

.hero__content {
  position: relative;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__content--logo {
  position: relative;
  z-index: 1;
}

.hero__content--logo img {
  width: 100%;
  max-width: 250px;
}

.hero__content::before {
  content: "";
  background-color: #3B363C;
  opacity: 0.6;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.footer {
  background-color: #0E1F3C;
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 80px 0 30px;
  position: relative;
}

.footer__s2top {
  position: absolute;
  top: 30px;
  right: 30px;
  text-decoration: none;
}

.footer .img-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .img-group img:not(:last-child) {
  margin-right: 44px;
}

.footer .register-wrap h4 {
  font-family: "gothamBook";
  font-size: 27px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 30px;
}

@media screen and (max-width: 900px) {
  .footer .register-wrap h4 {
    font-size: 19px;
  }
}

.footer .register-wrap .form-wrap {
  padding: 0 80px;
}

@media screen and (max-width: 900px) {
  .footer .register-wrap .form-wrap {
    padding: 0 40px;
  }
}

.footer .register-wrap .form-wrap input,
.footer .register-wrap .form-wrap select {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #f2f2f2;
  border-radius: 0;
  padding-left: 0;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
}

.footer .register-wrap .form-wrap input::-webkit-input-placeholder,
.footer .register-wrap .form-wrap select::-webkit-input-placeholder {
  font-family: "gothamThin";
  color: #fff;
  font-size: 17px;
  text-transform: uppercase;
  text-align: center;
}

.footer .register-wrap .form-wrap input:-ms-input-placeholder,
.footer .register-wrap .form-wrap select:-ms-input-placeholder {
  font-family: "gothamThin";
  color: #fff;
  font-size: 17px;
  text-transform: uppercase;
  text-align: center;
}

.footer .register-wrap .form-wrap input::-ms-input-placeholder,
.footer .register-wrap .form-wrap select::-ms-input-placeholder {
  font-family: "gothamThin";
  color: #fff;
  font-size: 17px;
  text-transform: uppercase;
  text-align: center;
}

.footer .register-wrap .form-wrap input::placeholder,
.footer .register-wrap .form-wrap select::placeholder {
  font-family: "gothamThin";
  color: #fff;
  font-size: 17px;
  text-transform: uppercase;
  text-align: center;
}

.footer .register-wrap .form-wrap input {
  padding-left: 4px;
}

.footer .register-wrap .form-wrap input[type=submit] {
  background-color: #fff;
  color: #0E1F3C;
  border: 1px solid #0E1F3C;
  border-radius: 0;
  padding: 7px 30px;
  font-size: 21px;
  display: block;
  margin: 0 auto;
  font-family: "gothamLite";
}

@media screen and (max-width: 900px) {
  .footer .register-wrap .form-wrap input[type=submit] {
    font-size: 16px;
  }
}

.footer .register-wrap .form-wrap input[type=submit]:hover {
  color: #3B363C;
}

.footer .register-wrap .form-wrap select option {
  color: #fff;
  padding-left: 0;
}

.footer .register-wrap .form-wrap .btn-wrap {
  text-align: center;
  margin-top: 40px;
}

.footer .logo-address {
  margin-top: 40px;
  text-align: center;
}

.footer .logo-address img {
  max-width: 215px;
}

.footer .logo-address p {
  padding-top: 10px;
  font-size: 19px;
}

.footer .appointment {
  margin-top: 30px;
  text-align: center;
}

.footer .appointment h5 {
  margin-top: 30px;
  font-family: "gothamLite";
  font-size: 15px;
  margin-bottom: 0;
  padding-bottom: 8px;
  text-transform: uppercase;
  line-height: 2em;
}

.footer .appointment h5 span {
  font-family: "gothamLite";
  text-transform: none;
  display: block;
  padding-right: 22px;
}

.footer .appointment h5 span:last-child {
  padding-right: 0;
}

.footer .appointment p {
  font-size: 10px;
  margin-bottom: 0;
  padding: 8px 0;
}

.footer .appointment img {
  max-width: 105px;
}

.footer .brought {
  margin-top: 70px;
  text-align: center;
}

.footer .brought__label {
  font-size: 16px;
  font-family: "gothamLite";
}

.footer .brought__img {
  text-align: left;
}

.footer .brought__img img {
  max-width: 145px;
  margin-top: -10px;
}

.footer .brought h6 {
  font-family: "gothamLite";
  font-size: 16px;
  padding-bottom: 15px;
}

.footer .brought figure {
  font-family: "gothamLite";
  font-size: 11px;
}

.footer .brought figure figcaption {
  padding-top: 5px;
  text-transform: uppercase;
}

.footer .brought figure.icons1 {
  text-align: right;
}

.footer .brought figure.icons1 img {
  max-width: 122px;
}

.footer .brought figure.icons1 figcaption {
  text-align: left;
}

.footer .brought figure.icons2 {
  text-align: left;
}

.footer .brought figure.icons2 img {
  max-width: 150px;
}

.footer .brought figure.icons2 figcaption {
  text-align: right;
}

.footer .brought .uppder-disclaimer {
  text-transform: uppercase;
}

.footer .brought .logos .footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .brought .logos .footer-logo img {
  max-width: 90px;
}

@media screen and (max-width: 900px) {
  .footer .brought .logos .footer-logo img {
    max-width: 60px;
  }
}

.footer .brought .upper-disclaimer {
  font-family: "futuraPTLite";
  font-size: 17px;
  text-transform: uppercase;
}

@media screen and (max-width: 900px) {
  .footer .brought .upper-disclaimer {
    font-size: 14px;
  }
}

.footer .disclaimer {
  padding-top: 30px;
}

.footer .disclaimer p {
  font-family: "gothamLite";
  font-size: 11px;
  text-align: justify;
}

.about {
  text-align: center;
  position: relative;
}

@media screen and (max-width: 900px) {
  .about {
    padding: 50px 0;
  }
}

.about-text {
  position: relative;
  padding: 300px 100px;
  height: 1075px;
}

@media screen and (max-width: 900px) {
  .about-text {
    height: auto;
    padding: 0;
  }
}

.about-image {
  position: absolute;
  top: 0;
  left: -150%;
  overflow: hidden;
  -webkit-transition: 1s left ease-in-out;
  transition: 1s left ease-in-out;
  width: 100%;
}

.about-image .arrow-wrap {
  position: absolute;
  z-index: 2;
  width: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  left: 0;
  background-color: rgba(14, 31, 60, 0.64);
}

.about-image .arrow-wrap img {
  width: 34px;
}

.about__title {
  display: block;
  font-family: "gothamMid";
  font-size: 37px;
  text-transform: uppercase;
  margin-bottom: 60px;
}

@media screen and (max-width: 900px) {
  .about__title {
    font-size: 27px;
    margin-bottom: 30px;
  }
}

.about__description {
  display: block;
  margin-bottom: 60px;
}

.about__description p {
  font-size: 19px;
}

@media screen and (max-width: 900px) {
  .about__description p {
    font-size: 15px;
  }
}

.about__button a {
  background-color: #3B363C;
  color: #fff;
  font-family: "gothamMid";
  text-transform: uppercase;
  border-radius: 0;
  padding: 10px 20px;
  font-size: 24px;
}

@media screen and (max-width: 900px) {
  .about__button a {
    font-size: 17px;
  }
}

.about__button a:hover {
  background-color: #0E1F3C;
  color: #fff;
}

.video__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video__wrapper--icon {
  position: absolute;
  max-width: 250px;
}

@media screen and (max-width: 767px) {
  .video__wrapper--icon {
    max-width: 150px;
  }
}

.design {
  padding: 100px 0;
}

@media screen and (max-width: 900px) {
  .design {
    padding: 50px 0;
  }
}

.design__description {
  padding: 30px 0;
}

@media screen and (max-width: 900px) {
  .design__description {
    padding: 30px 0 50px;
    text-align: center;
  }
}

.design__description--title {
  display: block;
  font-size: 37px;
  font-family: "gothamMid";
  margin-bottom: 40px;
}

@media screen and (max-width: 900px) {
  .design__description--title {
    font-size: 27px;
    text-align: center;
    margin-bottom: 20px;
  }
}

.design__description--details p {
  font-size: 19px;
}

@media screen and (max-width: 900px) {
  .design__description--details p {
    font-size: 15px;
  }
}

.design__description--details p:not(:last-child) {
  margin-bottom: 15px;
}

.design__description--button {
  display: block;
  margin-top: 40px;
}

.design__description--button a {
  font-family: "gothamMid";
  font-size: 25px;
  background-color: #0E1F3C;
  color: #fff;
  padding: 10px 20px;
  border-radius: 0;
}

@media screen and (max-width: 900px) {
  .design__description--button a {
    font-size: 17px;
  }
}

.design__description--button a:hover {
  background-color: #3B363C;
  color: #fff;
}

.design__slider {
  position: relative;
}

.design__slider .carousel-indicators [data-bs-target] {
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.design__slider .carousel-item p {
  position: absolute;
  bottom: -10px;
  left: 10px;
  color: #fff;
  font-size: 13px;
}

.design__slider .float-logo {
  position: absolute;
  bottom: 20px;
  right: 20px;
  max-width: 120px;
}

.location {
  padding: 100px 0;
}

.location__description {
  padding: 30px 0;
  text-align: center;
}

.location__description--title {
  display: block;
  font-size: 37px;
  font-family: "gothamMid";
  margin-bottom: 40px;
}

@media screen and (max-width: 900px) {
  .location__description--title {
    font-size: 27px;
  }
}

.location__description--details p {
  font-size: 19px;
}

@media screen and (max-width: 900px) {
  .location__description--details p {
    font-size: 15px;
  }
}

.location__description--details p:not(:last-child) {
  margin-bottom: 15px;
}

.location__description--button {
  display: block;
  margin-top: 40px;
}

.location__description--button a {
  font-family: "gothamMid";
  font-size: 25px;
  background-color: #0E1F3C;
  color: #fff;
  padding: 10px 20px;
  border-radius: 0;
}

@media screen and (max-width: 900px) {
  .location__description--button a {
    font-size: 17px;
  }
}

.location__description--button a:hover {
  background-color: #3B363C;
  color: #fff;
}

.location__slider {
  position: relative;
}

.location__slider .carousel-indicators [data-bs-target] {
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.location__slider .carousel-item p {
  position: absolute;
  bottom: -10px;
  left: 10px;
  color: #fff;
  font-size: 13px;
}

.location__slider .float-logo {
  position: absolute;
  bottom: 20px;
  right: 20px;
  max-width: 120px;
}

.architecture {
  padding: 100px 0;
  position: relative;
  background-size: cover;
}

@media screen and (max-width: 900px) {
  .architecture {
    padding: 50px 0;
  }
}

.architecture::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(14, 31, 60, 0.8);
  z-index: 1;
}

.architecture__description {
  position: relative;
  z-index: 2;
  text-align: center;
  padding: 30px 0;
}

.architecture__description--title {
  display: block;
  font-size: 37px;
  font-family: "gothamMid";
  margin-bottom: 40px;
  color: #fff;
}

@media screen and (max-width: 900px) {
  .architecture__description--title {
    font-size: 27px;
  }
}

.architecture__description--details p {
  font-size: 19px;
  color: #fff;
}

@media screen and (max-width: 900px) {
  .architecture__description--details p {
    font-size: 15px;
  }
}

.architecture__description--details p:not(:last-child) {
  margin-bottom: 15px;
}

.architecture__description--button {
  display: block;
  margin-top: 40px;
}

.architecture__description--button a {
  font-family: "gothamMid";
  font-size: 25px;
  background-color: #0E1F3C;
  color: #fff;
  padding: 10px 20px;
  border-radius: 0;
}

.architecture__description--button a:hover {
  background-color: #3B363C;
  color: #fff;
}

.architecture__slider {
  position: relative;
  z-index: 2;
}

.architecture__slider .carousel-indicators [data-bs-target] {
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.architecture__slider .carousel-item p {
  position: absolute;
  bottom: -10px;
  left: 10px;
  color: #fff;
  font-size: 13px;
}

.architecture__slider .float-logo {
  position: absolute;
  bottom: -20px;
  right: -10px;
  max-width: 120px;
}

.style {
  padding: 100px 0;
  background-size: cover;
  position: relative;
}

.style::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(14, 31, 60, 0.8);
  z-index: 1;
}

.style__description {
  position: relative;
  z-index: 2;
  text-align: center;
  padding: 30px 0;
}

.style__description--title {
  display: block;
  font-size: 37px;
  font-family: "gothamMid";
  margin-bottom: 40px;
  color: #fff;
}

@media screen and (max-width: 900px) {
  .style__description--title {
    font-size: 27px;
  }
}

.style__description--details p {
  font-size: 19px;
  color: #fff;
}

@media screen and (max-width: 900px) {
  .style__description--details p {
    font-size: 15px;
  }
}

.style__description--details p:not(:last-child) {
  margin-bottom: 15px;
}

.style__description--button {
  display: block;
  margin-top: 40px;
}

.style__description--button a {
  font-family: "gothamMid";
  font-size: 25px;
  background-color: #0E1F3C;
  color: #fff;
  padding: 10px 20px;
  border-radius: 0;
}

.style__description--button a:hover {
  background-color: #3B363C;
  color: #fff;
}

.style__slider {
  position: relative;
  z-index: 2;
}

.style__slider .carousel-indicators [data-bs-target] {
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.style__slider .carousel-item p {
  position: absolute;
  bottom: -10px;
  left: 10px;
  color: #fff;
  font-size: 13px;
}

.style__slider .float-logo {
  position: absolute;
  bottom: -20px;
  right: -10px;
  max-width: 120px;
}

.map {
  margin: 70px 0;
}

.team {
  padding: 100px 0 100px;
}

@media screen and (max-width: 900px) {
  .team {
    padding: 50px 0 50px;
  }
}

.team__container {
  padding-bottom: 80px;
}

@media screen and (max-width: 900px) {
  .team__container {
    padding-bottom: 40px;
  }
}

.team__header {
  font-family: "gothamMid";
  font-size: 41px;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .team__header {
    font-size: 28px;
  }
}

.team__subhead {
  font-family: "gothamLite";
  font-size: 19px;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .team__subhead {
    font-size: 15px;
  }
}

.team__left {
  text-align: center;
  padding: 60px 0;
}

@media screen and (max-width: 900px) {
  .team__left {
    padding: 30px 0;
  }
}

@media screen and (max-width: 900px) {
  .team__left--logo img {
    max-width: 120px;
  }
}

@media screen and (max-width: 900px) {
  .team__left--tag {
    font-size: 15px;
  }
}

@media screen and (max-width: 900px) {
  .team__left--desc p {
    font-size: 15px;
  }
}

.team__slider {
  position: relative;
}

.team__slider .carousel-indicators [data-bs-target] {
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.team__slider .carousel-item p {
  position: absolute;
  bottom: -10px;
  left: 10px;
  color: #fff;
  font-size: 13px;
}

.team__slider .float-logo {
  position: absolute;
  bottom: 20px;
  right: 20px;
  max-width: 120px;
}

.team__button {
  background-color: #0E1F3C;
  color: #fff;
  text-transform: uppercase;
  font-family: "gothamMid";
  padding: 10px 20px;
  text-align: center;
  display: block;
  text-decoration: none;
  margin: 30px auto 0;
  max-width: 50%;
  font-size: 17px;
}

@media screen and (max-width: 900px) {
  .team__button {
    font-size: 15px;
  }
}

.team__button:hover {
  background-color: #3B363C;
  color: #fff;
}

.team__logo_wrap {
  padding: 30px 0;
}

.team__logo--top {
  text-align: center;
  height: 130px;
}

.team__logo--subtitle {
  display: block;
  padding-top: 12px;
}

.team__logo--subtitle p {
  font-size: 15px;
}

.team__logo--image img {
  max-width: 158px;
}

.team__logo--description {
  text-align: center;
}

.team__logo--description p {
  font-size: 14px;
}

.team__side_logo {
  text-align: center;
  padding: 50px 0;
}

@media screen and (max-width: 900px) {
  .team__side_logo {
    padding: 25px 0;
  }
}

.team__side_logo p {
  font-family: "gothamBookItalic";
  padding-top: 10px;
  font-size: 15px;
}

@media screen and (max-width: 900px) {
  .team__side_logo img {
    max-width: 78px;
  }
}
/*# sourceMappingURL=main.css.map */