@font-face {
    font-family: gothamMid;
    src: url('../fonts/GothamMedium.ttf');
}
@font-face {
    font-family: gothamLite;
    src: url('../fonts/GothamLight.ttf');
}

$gmid: 'gothamMid';
$glite: 'gothamLite';


$fs: 12px;