.style{
    padding: 100px 0;
    background-size: cover;
    position: relative;

    &::before{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba($color: $blue, $alpha: 0.8);
        z-index: 1;
    }

    &__description{

        position: relative;
        z-index: 2;
        text-align: center;

        padding: 30px 0;
        &--title{
            display: block;
            font-size: $fs + 25px;
            font-family: $gmid;
            margin-bottom: 40px;
            color: $white;

            @media screen and (max-width: $medium) {
                font-size: $fs + 15px;
            }

        }

        &--details{
            p{
                font-size: $fs + 7px;
                color: $white;

                @media screen and (max-width: $medium) {
                    font-size: $fs + 3px;
                }

                &:not(:last-child){
                    margin-bottom: 15px;
                }
            }
        }

        &--button{
            display: block;
            margin-top: 40px;
            a{
                font-family: $gmid;
                font-size: $fs + 13px;
                background-color: $blue;
                color: $white;
                padding: 10px 20px;
                border-radius: 0;

                &:hover{
                    background-color: $ash;
                    color: $white;
                }

            }
        }

    }

    &__slider{

        position: relative;
        z-index: 2;

        .carousel-indicators [data-bs-target]{
            border-radius: 50%;
            width: 15px;
            height: 15px;
        }

        .carousel-item{
            p{
                position: absolute;
                bottom: -10px;
                left: 10px;
                color: $white;
                font-size: $fs + 1px;
            }
        }

        .float-logo{
            position: absolute;
            bottom: -20px;
            right: -10px;
            max-width: 120px;
        }
    }
}