.location{
    padding: 100px 0;

    &__description{

        padding: 30px 0;
        text-align: center;
        
        &--title{
            display: block;
            font-size: $fs + 25px;
            font-family: $gmid;
            margin-bottom: 40px;

            @media screen and (max-width: $medium) {
                font-size: $fs + 15px;
            }

        }

        &--details{
            p{
                font-size: $fs + 7px;

                @media screen and (max-width: $medium) {
                    font-size: $fs + 3px;
                }

                &:not(:last-child){
                    margin-bottom: 15px;
                }
            }
        }

        &--button{
            display: block;
            margin-top: 40px;
            a{
                font-family: $gmid;
                font-size: $fs + 13px;
                background-color: $blue;
                color: $white;
                padding: 10px 20px;
                border-radius: 0;

                @media screen and (max-width: $medium) {
                    font-size: $fs + 5px;
                }

                &:hover{
                    background-color: $ash;
                    color: $white;
                }

            }
        }

    }

    &__slider{

        position: relative;

        .carousel-indicators [data-bs-target]{
            border-radius: 50%;
            width: 15px;
            height: 15px;
        }

        .carousel-item{
            p{
                position: absolute;
                bottom: -10px;
                left: 10px;
                color: $white;
                font-size: $fs + 1px;
            }
        }

        .float-logo{
            position: absolute;
            bottom: 20px;
            right: 20px;
            max-width: 120px;
        }
    }

}